.formkit-form {
  border-radius: 6px;
}

.formkit-form[data-uid="812b8a9345"] {
  background-color: var(--bg);
  border-color: var(--navBackground);
}

.formkit-background {
  background-image: url("https://embed.filekitcdn.com/e/54WeEgYmZjQkQ8vrRWiMcs/9sEDyWNfACmaGYhHJtRmMo");
}

.formkit-header {
  color: var(--textNormal);
  font-size: 26px;
  font-weight: 700;
}

.formkit-input {
  background: var(--navBackground) !important;
  color: var(--textNormal) !important;
  border-color: rgba(254, 193, 80, 0.25) !important;
  font-weight: 400;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.formkit-input:focus {
  border-color: rgba(254, 193, 80, 1) !important;
}

.formkit-submit {
  color: rgb(22, 22, 22);
  background-color: rgb(254, 193, 80);
  border-radius: 3px;
  font-weight: 700;
}

.formkit-disclaimer {
  color: var(--textNormal);
  opacity: 0.5;
  font-size: 12px;
}

.formkit-header h1 {
  margin-top: 0;
}

.formkit-powered-by {
  display: none;
}
