body {
  --bg: hsl(0, 0%, 99%);
  --textNormal: hsla(0, 0%, 0%, 0.9);
  --linkTitleHover: #036ec5;
  --buttonBackground: #000;
  --buttonColor: hsl(0, 0%, 90%);
  --blockquoteColor: hsl(0, 0%, 40%);
  --blockquoteBorderColor: hsla(0, 0%, 0%, 0.9);
  --selectionColor: hsla(0, 0%, 0%, 0.9);
  --selectionBackgroundColor: #fec150;
  --jumpToTopIconColor: hsl(0, 0%, 99%);
  --theme-transition: color 0.2s ease, background-color 0.2s ease;
}

body.dark {
  --bg: hsl(0, 0%, 9%);
  --textNormal: hsl(0, 0%, 90%);
  --linkTitleHover: #fec150;
  --buttonBackground: #fec150;
  --buttonColor: #000;
  --blockquoteColor: hsl(0, 0%, 75%);
  --blockquoteBorderColor: #fec150;
  --jumpToTopIconColor: hsl(0, 0%, 9%);
}

/* COMPLEX BUTTON STYLING */
body.dark .slider {
  background: #fec150;
}

body.dark .slider::before,
body.dark .slider::after {
  transform: translateX(29px);
}

body.dark .slider::before {
  bottom: 4px;
  box-shadow: inset 1px -1px 0px 0px #f5f5f5;
}

body.dark .slider::after {
  box-shadow: inset -1px 1px 0px 0px #ef9220;
}

body.dark .slider .moon-icon {
  opacity: 1;
  transform: translateX(0);
}

body.dark .slider .sun-icon {
  opacity: 0;
  transform: translateX(-4px);
}
